@model IEnumerable<CAAP2.Data.Order>

@if (Model != null && Model.Any())
{
    <div class="card mt-4">
        <div class="card-header bg-warning text-dark">
            Pausadas
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var order in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>#@order.OrderID</strong> - @order.OrderDetail <br />
                        <small>Prioridad: @order.Priority | Cliente: @order.User.FullName</small>
                        <small>Estado: @order.Status</small>
                    </div>
                    <button class="btn btn-danger btn-sm" onclick="resumeOrder(@order.OrderID)">Reanudar</button>
                </li>
            }
        </ul>
    </div>

}
else
{
    <div class="alert alert-info">No hay ninguna orden en pausa.</div>
}
